## Project specific ignores
data/
obj/
lib/
tools/

*.skel

# Log files
*.log

## General ignores for C files
# Object files
*.o

# Libraries
*.lib
*.a

# Shared objects 
*.so
*.so.*

# Executables
*.out

# Core dumps
*.core
